name: Jfrog list

on:
  workflow_dispatch:
#    secrets:
#      CHC_HTTP_PROXY:
#        required: true
#      CHC_HTTPS_PROXY:
#        required: true  
#      CHC_GITHUB_PAT:
#        required: true  
#      JFROG_USERNAME:
#        required: true
#      JFROG_TOKEN:
#        required: true  
#      DOCKER_REGISTRY:
#        required: true  
#      DEV_TCI_CLIENT_ID:
#        required: true  
#      DEV_TCI_CLIENT_SECRET:
#        required: true
#    inputs:
#      DOCKER_IMAGE:
#        required: true
#        type: string
#      INTERFACE_NAME:
#        required: true
#        type: string
     
env:
 HTTP_PROXY: ${{ secrets.CHC_HTTP_PROXY }}
 HTTPS_PROXY: ${{ secrets.CHC_HTTPS_PROXY }}
 GITHUB_PAT: ${{ secrets.CHC_GITHUB_PAT }}
 JFROG_USERNAME:  ${{ secrets.JFROG_USERNAME }}
 JFROG_TOKEN: ${{ secrets.JFROG_TOKEN }}
 DOCKER_REGISTRY: ${{ secrets.DOCKER_REGISTRY }}
 CIC_TCI_CLIENTID_CICD: ${{ secrets.DEV_TCI_CLIENT_ID }}
 CIC_TCI_CLIENTSECRET_CICD: ${{ secrets.DEV_TCI_CLIENT_SECRET }}
 BUILD_ID: ${{ github.run_number }}
 WORKSPACE: ${{ github.workspace }}
 BRANCH_NAME: ${{github.event.inputs.branch_name}}
 REPONAME: ${{ github.event.repository.name }}
 INTERFACE_NAME: ${{ inputs.INTERFACE_NAME }}
 APP_CONF_INSTANCECOUNT: ${{ github.event.inputs.instance_count }}
#VENDOR_NAME: ${{github.event.inputs.vendor_name}}
 NO_PROXY: 'cloud.local,sanofi.com,docker'

jobs:
  Build-Deployment:
    runs-on: ['atmos-aws-arc-runner-set']
    container:
      image: sanofi-docker-chc-tibco-local.jfrog.io/build-images/sanofi-chc-build-base:v1.0.0
      credentials:
        username: ${{ env.JFROG_USERNAME }}
        password: ${{ env.JFROG_TOKEN }}
    defaults:
      run:
        shell: bash
    steps:
      - name: add repo to safe directory
        run: |
          git config --global --add safe.directory /__w/${REPONAME}/${REPONAME}
          
      - name: Checkout
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
          submodules: 'true'
          ref: ${{ env.BRANCH_NAME }}
          token: ${{ env.GITHUB_PAT }}

      - name: CHeckout Devops scripts
        uses: actions/checkout@v2.3.4
        with:
          repository: Sanofi-GitHub/chc-devops-scripts
          ref: main
          path: chc_scripts
          token: ${{ env.GITHUB_PAT }}
      
    #  - name: Checkout sharedmodule properties for Cognizant
    #    #if: github.event.inputs.vendor_name == 'Cognizant'    
    #    uses: actions/checkout@v2.3.4
    #    with:
    #      repository: Sanofi-GitHub/TCI-sharedmodule-config
    #      ref: main
    #      path: shared_module
    #      token: ${{ env.GITHUB_PAT }}

      #- name: Checkout sharedmodule properties for Accenture
      #  if: github.event.inputs.vendor_name == 'Accenture'    
      #  uses: actions/checkout@v2.3.4
      #  with:
      #    repository: Sanofi-GitHub/CHC-TCI-accenture-sharedmodule-config
      #    ref: main
      #    path: shared_module
      #    token: ${{ env.GITHUB_PAT }}

      #- name: Checkout sharedmodule properties for Infosys
      #  if: github.event.inputs.vendor_name == 'Infosys'    
      #  uses: actions/checkout@v2.3.4
      #  with:
      #    repository: Sanofi-GitHub/TCI-Infosys-sharedmodule-config
      #    ref: main
      #    path: shared_module
      #    token: ${{ env.GITHUB_PAT }}

    #  - name: Checkout sharedmodules
    #    run: |
    #      cd ${WORKSPACE}
    #      bash ${WORKSPACE}/chc_scripts/cicd-scripts/TCI-Deployment/sharedmodule.sh ${WORKSPACE}/config/config_dev.json
          
    #  - name: Update pom.xml with jfrog details
    #    run: |
    #      cd ${WORKSPACE}/chc_scripts/cicd-scripts/TCI-Deployment
    #      python3.9 update_pom.py "${WORKSPACE}/src/${INTERFACE_NAME}/${INTERFACE_NAME}.application.parent/pom.xml"
          
    #  - name: Maven Build
    #    run: |
    #      cd ${WORKSPACE}/src/${INTERFACE_NAME}/${INTERFACE_NAME}.application.parent
    #      cat pom.xml
    #      mvn clean package

  #    - name: create updated property file
  #      run: |
  #        cd ${WORKSPACE}
  #        bash ${WORKSPACE}/chc_scripts/cicd-scripts/TCI-Deployment/update_properties.sh -application_file=${WORKSPACE}/config/dev.properties -sharedmodule_file=${WORKSPACE}/shared_module/config/Devlopment/sharedmodule.properties
  #        cd ${WORKSPACE}/config
  #        mv manifest_dev.json manifest.json
          
      - name: List from Jfrog artifactory
        run: |
           cd ${WORKSPACE}/cicd-scripts
           python3.9 get_jfrog_list.py "${JFROG_TOKEN}" "https://sanofi.jfrog.io/artifactory/maven-chc-maven-local/" "${WORKSPACE}/chc_Jfrog_artifactory.csv"
           ##bash get_ear_list.sh ${JFROG_TOKEN}
##      - name: TCI Deployment
#        run: |
#          cd $WORKSPACE
#          config_file="${WORKSPACE}/config/config_dev.json"
#          APP_AGENT_KEY=$(jq -r '.hybrid_agent_key' "$config_file")
#          export APP_AGENT_KEY=$APP_AGENT_KEY
#          echo "hybrid agent key is ${APP_AGENT_KEY}"
#          export DEPLOYMENT_SCRIPT=${WORKSPACE}/chc_scripts/cicd-scripts/TCI-Deployment/bin/tci
#          export EAR_PATH=${WORKSPACE}/src/${INTERFACE_NAME}/${INTERFACE_NAME}.application/target
#          bash ${DEPLOYMENT_SCRIPT}/chc-render-application-properties.sh ${WORKSPACE}/config/dev.properties /tmp/dev.json
#          bash ${DEPLOYMENT_SCRIPT}/chc-app-manage.sh deploy ${INTERFACE_NAME} /tmp/dev.json ${EAR_PATH}/${INTERFACE_NAME}.application_1.0.0.ear ${WORKSPACE}/config/manifest.json
