
name: TCI SIT

on:
  workflow_call:
    secrets:
      CHC_HTTP_PROXY:
        required: true
      CHC_HTTPS_PROXY:
        required: true
      CHC_GITHUB_PAT:
        required: true
      JFROG_USERNAME:
        required: true
      JFROG_TOKEN:
        required: true
      DOCKER_TOKEN:
        required: true
      DOCKER_REGISTRY:
        required: true
      SIT_TCI_CLIENT_ID:
        required: true
      SIT_TCI_CLIENT_SECRET:
        required: true
    inputs:
      DOCKER_IMAGE:
        required: true
        type: string
      INTERFACE_NAME:
        required: true
        type: string
      instance_name:
        description: 'Instance-Name'
        required: false
        type: string
          
env:
  #HTTP_PROXY: ${{ secrets.CHC_HTTP_PROXY }}
  #HTTPS_PROXY: ${{ secrets.CHC_HTTPS_PROXY }}
  GITHUB_PAT: ${{ secrets.CHC_GITHUB_PAT }}
  JFROG_USERNAME:  ${{ secrets.JFROG_USERNAME }}
  JFROG_TOKEN: ${{ secrets.JFROG_TOKEN }}
  DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}
  DOCKER_REGISTRY: ${{ secrets.DOCKER_REGISTRY }}
  CIC_TCI_CLIENTID_CICD: ${{ secrets.SIT_TCI_CLIENT_ID }}
  CIC_TCI_CLIENTSECRET_CICD: ${{ secrets.SIT_TCI_CLIENT_SECRET }}
  BUILD_ID: ${{ github.run_number }}
  WORKSPACE: ${{ github.workspace }}
  BRANCH_NAME: ${{github.event.inputs.branch_name}}
  BUILD_NUMBER: ${{github.event.inputs.build_number}}
  REPONAME: ${{ github.event.repository.name }}
  INTERFACE_NAME: ${{ inputs.INTERFACE_NAME }}
  INSTANCE_NAME: ${{ github.event.inputs.instance_name }}
  Sharedmodule_instance_name: ${{ github.event.inputs.Sharedmodule_instance_name }}
  APP_CONF_INSTANCECOUNT: ${{ github.event.inputs.instance_count }}
  NO_PROXY: 'cloud.local,sanofi.com,docker'
      
jobs:
  Build-Deployment:
    #if: ${{ github.event.inputs.workflow_type == 'Build-Deploy' }} 
    runs-on: ['atmos-aws-arc-runner-set']
    container:
      image: ${{ inputs.DOCKER_IMAGE }}
      credentials:
        username: ${{ env.JFROG_USERNAME }}
        password: ${{ env.DOCKER_TOKEN}}
      env:
        http_proxy: ""
        https_proxy: ""
        NODE_EXTRA_CA_CERTS: /usr/local/share/ca-certificates/sanofi-ca.crt
        REQUESTS_CA_BUNDLE: /etc/ssl/certs/ca-certificates.crt
        CURL_CA_BUNDLE: /etc/ssl/certs/ca-certificates.crt
        SSL_CERT_FILE: /etc/ssl/certs/ca-certificates.crt
    defaults:
      run:
        shell: bash
    steps:
      - uses: Sanofi-InnerSource/github-actions-library/setup-root-ca@main
      - name: Create unique workspace
        run: |
          export UNIQUE_WORKSPACE=${WORKSPACE}/${{ github.run_id }}_${{ github.job }}
          mkdir -p $UNIQUE_WORKSPACE
          echo "UNIQUE_WORKSPACE=$UNIQUE_WORKSPACE" >> $GITHUB_ENV
      - name: Set up CA Certificates
        run: |
          # Copy the CA certificate to the container
          #mkdir -p /usr/local/share/ca-certificates
          #echo "${{ secrets.SANOFI_CA_CERT }}" > /usr/local/share/ca-certificates/sanofi-ca.crt
          # Import the CA certificate into the Java truststore
          keytool -importcert -file /usr/local/share/ca-certificates/sanofi-ca.crt -alias sanofi-ca -keystore /usr/lib/jvm/adoptopenjdk-11-hotspot-amd64/lib/security/cacerts -storepass changeit -noprompt  
      - name: add repo to safe directory
        run: |
          git config --global --add safe.directory /__w/${REPONAME}/${REPONAME}
      - name: Checkout
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
          submodules: 'true'
          ref: ${{ env.BRANCH_NAME }}
          token: ${{ env.GITHUB_PAT }}
          path: ${{ env.UNIQUE_WORKSPACE }}

      - name: Checkout Devops scripts
        uses: actions/checkout@v2.3.4
        with:
          repository: Sanofi-GitHub/chc-devops-scripts
          ref: main
          path: ${{ env.UNIQUE_WORKSPACE }}/chc_scripts
          token: ${{ env.GITHUB_PAT }}

      - name: Checkout sharedmodule properties
        uses: actions/checkout@v2.3.4
        with:
          repository: Sanofi-GitHub/TCI-sharedmodule-config
          ref: main
          path: ${{ env.UNIQUE_WORKSPACE }}/shared_module
          token: ${{ env.GITHUB_PAT }}

      - name: Checkout sharedmodules
        run: |
          cd ${{ env.UNIQUE_WORKSPACE }}
          if [ -z "${INSTANCE_NAME}" ]; then
            bash ${{ env.UNIQUE_WORKSPACE }}/chc_scripts/cicd-scripts/TCI-Deployment/sharedmodule-unique.sh ${{ env.UNIQUE_WORKSPACE }}/config/SIT/config_test.json
          else
            bash ${{ env.UNIQUE_WORKSPACE }}/chc_scripts/cicd-scripts/TCI-Deployment/sharedmodule-unique.sh ${{ env.UNIQUE_WORKSPACE }}/config/SIT/${INSTANCE_NAME}/config_test.json
          fi
      - name: Copy Maven settings.xml
        run: |
          cp ${{ env.UNIQUE_WORKSPACE }}/chc_scripts/build-images/v1.0.0/sanofi-chc-build-base/settings.xml /root/.m2/
          cp ${{ env.UNIQUE_WORKSPACE }}/chc_scripts/build-images/v1.0.0/sanofi-chc-build-base/settings.xml /opt/apache-maven-3.6.0/conf/

      - name: create updated property file
        run: |
          cd ${{ env.UNIQUE_WORKSPACE }}
          if [ -z "${INSTANCE_NAME}" ]; then
            application_filename="${{ env.UNIQUE_WORKSPACE }}/config/SIT/test.properties"
          else
            application_filename="${{ env.UNIQUE_WORKSPACE }}/config/SIT/${INSTANCE_NAME}/test.properties"
          fi
          if [ -z "${Sharedmodule_instance_name}" ]; then
            sharedmodule_filename="${{ env.UNIQUE_WORKSPACE }}/shared_module/config/Test/sharedmodule.properties"
          else
            sharedmodule_filename="${{ env.UNIQUE_WORKSPACE }}/shared_module/config/Test/${Sharedmodule_instance_name}/sharedmodule.properties"
          fi
           bash ${{ env.UNIQUE_WORKSPACE }}/chc_scripts/cicd-scripts/TCI-Deployment/update_properties.sh -application_file=$application_filename -sharedmodule_file=$sharedmodule_filename
          cd ${{ env.UNIQUE_WORKSPACE }}/config/SIT
          if [ -z "${INSTANCE_NAME}" ]; then
            mv manifest_test.json manifest.json
          else
           mv ${INSTANCE_NAME}/manifest_test.json manifest.json
          fi
      - name: Stopping the application
        run: |
          sudo su
          cd ${{ env.UNIQUE_WORKSPACE }}/chc_scripts/cicd-scripts/
          chmod -R 777 *
          response="$(
            curl -sS -w "\n%{http_code}" \
            "https://eu.account.cloud.tibco.com/idm/v1/oauth2/token" \
            --header "Content-Type: application/x-www-form-urlencoded" \
            --data "grant_type=client_credentials&scope=TCI&client_id=${{ secrets.SIT_TCI_CLIENT_ID }}&client_secret=${{ secrets.SIT_TCI_CLIENT_SECRET }}"
            )"
          json_response=$(echo $response | sed 's/ [0-9]\+$//')
          SIT_TCI_TOKEN=$(echo $json_response | jq -r '.access_token')
          export SIT_TCI_TOKEN=$SIT_TCI_TOKEN
          sudo su
          cd ${{ env.UNIQUE_WORKSPACE }}/chc_scripts/cicd-scripts/
          ./tibcli authorize --token $SIT_TCI_TOKEN
          if [ -z "${INSTANCE_NAME}" ]; then
            ./tibcli app scaleto 0 ${INTERFACE_NAME}
          else
            ./tibcli app scaleto 0 ${INTERFACE_NAME}_${INSTANCE_NAME}
          fi
        continue-on-error: true
      - name: TCI Deployment
        run: |
          cd $WORKSPACE
          if [ -f "${{ env.UNIQUE_WORKSPACE }}/config/SIT/engine_test.properties" ]; then
             engine_properties="${{ env.UNIQUE_WORKSPACE }}/config/SIT/engine_test.properties"
          else
             engine_properties="${{ env.UNIQUE_WORKSPACE }}/shared_module/config/Test/engine_test.properties"
          fi
          echo "Engine properties file is set to: $engine_properties"
          export engine_properties=$engine_properties
          if [ -f "${{ env.UNIQUE_WORKSPACE }}/config/Test/engine-default.json" ]; then
             engine_json="${{ env.UNIQUE_WORKSPACE }}/config/Test/engine-default.json"
          else
             engine_json="${{ env.UNIQUE_WORKSPACE }}/shared_module/config/Test/engine-default.json"
          fi
          echo "Engine json file is set to: $engine_json"
          export engine_json=$engine_json
          if [ -z "${INSTANCE_NAME}" ]; then
            config_file="${{ env.UNIQUE_WORKSPACE }}/config/SIT/config_test.json"
          else
            config_file="${{ env.UNIQUE_WORKSPACE }}/config/SIT/${INSTANCE_NAME}/config_test.json"
          fi
          APP_AGENT_KEY=$(jq -r '.hybrid_agent_key' "$config_file")
          export APP_AGENT_KEY=$APP_AGENT_KEY
          echo "hybrid agent key is ${APP_AGENT_KEY}"
          response="$(
            curl -sS -w "\n%{http_code}" \
            "https://eu.account.cloud.tibco.com/idm/v1/oauth2/token" \
            --header "Content-Type: application/x-www-form-urlencoded" \
            --data "grant_type=client_credentials&scope=TCI&client_id=${{ secrets.SIT_TCI_CLIENT_ID }}&client_secret=${{ secrets.SIT_TCI_CLIENT_SECRET }}"
            )"
          json_response=$(echo $response | sed 's/ [0-9]\+$//')
          SIT_TCI_TOKEN=$(echo $json_response | jq -r '.access_token')
          export SIT_TCI_TOKEN=$SIT_TCI_TOKEN
          export DEPLOYMENT_SCRIPT=${{ env.UNIQUE_WORKSPACE }}/chc_scripts/cicd-scripts/TCI-Deployment/bin/tci
          export EAR_PATH=${{ env.UNIQUE_WORKSPACE }}/src/${INTERFACE_NAME}/${INTERFACE_NAME}.application/target
          if [ -z "${INSTANCE_NAME}" ]; then
            bash ${DEPLOYMENT_SCRIPT}/chc-render-application-properties.sh ${{ env.UNIQUE_WORKSPACE }}/config/SIT/test.properties /tmp/test.json
            bash ${DEPLOYMENT_SCRIPT}/chc-app-updateproperties-manage.sh update ${INTERFACE_NAME} /tmp/test.json ${{ env.UNIQUE_WORKSPACE }}/config/SIT/manifest.json
            bash ${DEPLOYMENT_SCRIPT}/Update-engine-custom.sh ${INTERFACE_NAME} ${engine_properties} ${SIT_TCI_TOKEN}
          else
            bash ${DEPLOYMENT_SCRIPT}/chc-render-application-properties.sh ${{ env.UNIQUE_WORKSPACE }}/config/SIT/${INSTANCE_NAME}/test.properties /tmp/test.json
            bash ${DEPLOYMENT_SCRIPT}/chc-app-updateproperties-manage.sh update ${INTERFACE_NAME}_${INSTANCE_NAME} /tmp/test.json ${{ env.UNIQUE_WORKSPACE }}/config/SIT/manifest.json 
            bash ${DEPLOYMENT_SCRIPT}/Update-engine-custom.sh ${INTERFACE_NAME}_${INSTANCE_NAME} ${engine_properties} ${SIT_TCI_TOKEN}
          fi       
      
