name: TCI DEV

on:
  workflow_call:
    secrets:
      CHC_HTTP_PROXY:
        required: true
      CHC_HTTPS_PROXY:
        required: true  
      CHC_GITHUB_PAT:
        required: true  
      JFROG_USERNAME:
        required: true
      JFROG_TOKEN:
        required: true
      DOCKER_TOKEN:
        required: true  
      DOCKER_REGISTRY:
        required: true  
      DEV_TCI_CLIENT_ID:
        required: true  
      DEV_TCI_CLIENT_SECRET:
        required: true
    inputs:
      DOCKER_IMAGE:
        required: true
        type: string
      INTERFACE_NAME:
        required: true
        type: string
     
env:
 #HTTP_PROXY: ${{ secrets.CHC_HTTP_PROXY }}
 #HTTPS_PROXY: ${{ secrets.CHC_HTTPS_PROXY }}
 GITHUB_PAT: ${{ secrets.CHC_GITHUB_PAT }}
 JFROG_USERNAME:  ${{ secrets.JFROG_USERNAME }}
 JFROG_TOKEN: ${{ secrets.JFROG_TOKEN }}
 DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}
 DOCKER_REGISTRY: ${{ secrets.DOCKER_REGISTRY }}
 CIC_TCI_CLIENTID_CICD: ${{ secrets.DEV_TCI_CLIENT_ID }}
 CIC_TCI_CLIENTSECRET_CICD: ${{ secrets.DEV_TCI_CLIENT_SECRET }}
 BUILD_ID: ${{ github.run_number }}
 WORKSPACE: ${{ github.workspace }}
 BRANCH_NAME: ${{github.event.inputs.branch_name}}
 REPONAME: ${{ github.event.repository.name }}
 INTERFACE_NAME: ${{ inputs.INTERFACE_NAME }}
 APP_CONF_INSTANCECOUNT: ${{ github.event.inputs.instance_count }}
# VENDOR_NAME: ${{github.event.inputs.vendor_name}}
 NO_PROXY: 'cloud.local,sanofi.com,docker'

jobs:
  Build-Deployment:
    runs-on: ['atmos-aws-arc-runner-set']
    container:
      image: ${{ inputs.DOCKER_IMAGE }}
      credentials:
        username: ${{ env.JFROG_USERNAME }}
        password: ${{ env.DOCKER_TOKEN}}
      env:
        http_proxy: ""
        https_proxy: ""
        NODE_EXTRA_CA_CERTS: /usr/local/share/ca-certificates/sanofi-ca.crt
        REQUESTS_CA_BUNDLE: /etc/ssl/certs/ca-certificates.crt
        CURL_CA_BUNDLE: /etc/ssl/certs/ca-certificates.crt
        SSL_CERT_FILE: /etc/ssl/certs/ca-certificates.crt
    defaults:
      run:
        shell: bash
    steps:
      - uses: Sanofi-InnerSource/github-actions-library/setup-root-ca@main
      - name: Create unique workspace
        run: |
          export UNIQUE_WORKSPACE=${WORKSPACE}/${{ github.run_id }}_${{ github.job }}
          mkdir -p $UNIQUE_WORKSPACE
          echo "UNIQUE_WORKSPACE=$UNIQUE_WORKSPACE" >> $GITHUB_ENV
      - name: Set up CA Certificates
        run: |
          # Copy the CA certificate to the container
          #mkdir -p /usr/local/share/ca-certificates
          #echo "${{ secrets.SANOFI_CA_CERT }}" > /usr/local/share/ca-certificates/sanofi-ca.crt
          # Import the CA certificate into the Java truststore
          keytool -importcert -file /usr/local/share/ca-certificates/sanofi-ca.crt -alias sanofi-ca -keystore /usr/lib/jvm/adoptopenjdk-11-hotspot-amd64/lib/security/cacerts -storepass changeit -noprompt
      - name: add repo to safe directory
        run: |
          git config --global --add safe.directory /__w/${REPONAME}/${REPONAME}
         
      - name: Checkout
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
          submodules: 'true'
          ref: ${{ env.BRANCH_NAME }}
          token: ${{ env.GITHUB_PAT }}
          path: ${{ env.UNIQUE_WORKSPACE }}

      - name: CHeckout Devops scripts
        uses: actions/checkout@v2.3.4
        with:
          repository: Sanofi-GitHub/chc-devops-scripts
          ref: main
          path: ${{ env.UNIQUE_WORKSPACE }}/chc_scripts
          token: ${{ env.GITHUB_PAT }}
      
      - name: Checkout sharedmodule properties for Cognizant
        #if: github.event.inputs.vendor_name == 'Cognizant'    
        uses: actions/checkout@v2.3.4
        with:
          repository: Sanofi-GitHub/TCI-sharedmodule-config
          ref: main
          path: ${{ env.UNIQUE_WORKSPACE }}/shared_module
          token: ${{ env.GITHUB_PAT }}

      #- name: Checkout sharedmodule properties for Accenture
      #  if: github.event.inputs.vendor_name == 'Accenture'    
      #  uses: actions/checkout@v2.3.4
      #  with:
      #    repository: Sanofi-GitHub/CHC-TCI-accenture-sharedmodule-config
      #    ref: main
      #    path: shared_module
      #    token: ${{ env.GITHUB_PAT }}

      #- name: Checkout sharedmodule properties for Infosys
      #  if: github.event.inputs.vendor_name == 'Infosys'    
      #  uses: actions/checkout@v2.3.4
      #  with:
      #    repository: Sanofi-GitHub/TCI-Infosys-sharedmodule-config
      #    ref: main
      #    path: shared_module
      #    token: ${{ env.GITHUB_PAT }}

      - name: Checkout sharedmodules
        run: |
          cd ${{ env.UNIQUE_WORKSPACE }}
          bash ${{ env.UNIQUE_WORKSPACE }}/chc_scripts/cicd-scripts/TCI-Deployment/sharedmodule-unique.sh ${{ env.UNIQUE_WORKSPACE }}/config/config_dev.json
          
      - name: Update pom.xml with jfrog details
        run: |
          cd ${{ env.UNIQUE_WORKSPACE }}/chc_scripts/cicd-scripts/TCI-Deployment
          python3.9 update_pom.py "${{ env.UNIQUE_WORKSPACE }}/src/${INTERFACE_NAME}/${INTERFACE_NAME}.application.parent/pom.xml"
          
      - name: Copy Maven settings.xml
        run: |
          cp ${{ env.UNIQUE_WORKSPACE }}/chc_scripts/build-images/v1.0.0/sanofi-chc-build-base/settings.xml /root/.m2/
          cp ${{ env.UNIQUE_WORKSPACE }}/chc_scripts/build-images/v1.0.0/sanofi-chc-build-base/settings.xml /opt/apache-maven-3.6.0/conf/
      - name: Stopping application
        run: |
          sudo su
          cd ${{ env.UNIQUE_WORKSPACE }}/chc_scripts/cicd-scripts/
          chmod -R 777 *
          response="$(
            curl -sS -w "\n%{http_code}" \
            "https://eu.account.cloud.tibco.com/idm/v1/oauth2/token" \
            --header "Content-Type: application/x-www-form-urlencoded" \
            --data "grant_type=client_credentials&scope=TCI&client_id=${{ secrets.DEV_TCI_CLIENT_ID }}&client_secret=${{ secrets.DEV_TCI_CLIENT_SECRET }}"
            )"
          json_response=$(echo $response | sed 's/ [0-9]\+$//')
          DEV_TCI_TOKEN=$(echo $json_response | jq -r '.access_token')
          export DEV_TCI_TOKEN=$DEV_TCI_TOKEN
          echo $DEV_TCI_TOKEN
          sudo su
          cd ${{ env.UNIQUE_WORKSPACE }}/chc_scripts/cicd-scripts/
          ./tibcli authorize --token $DEV_TCI_TOKEN
          ./tibcli app scaleto 0 ${INTERFACE_NAME}     
        continue-on-error: true
      - name: Maven Build
        run: |
          cd ${{ env.UNIQUE_WORKSPACE }}/src/${INTERFACE_NAME}/${INTERFACE_NAME}.application.parent
          cat pom.xml
          mvn clean package



     
      - name: create updated property file
        run: |
          cd ${{ env.UNIQUE_WORKSPACE }}
          bash ${{ env.UNIQUE_WORKSPACE }}/chc_scripts/cicd-scripts/TCI-Deployment/update_properties.sh -application_file=${{ env.UNIQUE_WORKSPACE }}/config/dev.properties -sharedmodule_file=${{ env.UNIQUE_WORKSPACE }}/shared_module/config/Development/sharedmodule.properties
          cd ${{ env.UNIQUE_WORKSPACE }}/config
          mv manifest_dev.json manifest.json

      # - name: Cache SonarQube packages
      #   uses: actions/cache@v1
      #   with:
      #     path: ~/.sonar/cache
      #     key: ${{ runner.os }}-sonar
      #     restore-keys: ${{ runner.os }}-sonar
      # - name: Cache Maven packages
      #   uses: actions/cache@v1
      #   with:
      #     path: ~/.m2
      #     key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
      #     restore-keys: ${{ runner.os }}-m2
      # - name: Build and analyze
      #   env:
      #   # GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      #     SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
      #     SONAR_HOST_FQN: sonarqubeentdev.p230559371484.aws-emea.sanofi.com
      #   run: |
      #     mkdir /tmp/cert
      #     openssl s_client -showcerts -connect ${{ env.SONAR_HOST_FQN }}:443 2>/dev/null | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' > /tmp/cert/chain-certificate.crt
      #     keytool -cacerts -storepass changeit -noprompt -trustcacerts -importcert -alias sanofi_chain_bundle -file /tmp/cert/chain-certificate.crt        
      #     cd ${WORKSPACE}/src/${INTERFACE_NAME}/${INTERFACE_NAME}.application.parent/
          
      #     mvn -B package org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=polaris-dhl-matmas -Dsonar.host.url=https://sonarqubeentdev.p230559371484.aws-emea.sanofi.com/ -Dsonar.login=squ_de11534d46a9b0261eae5728849e1d257772ed55
      

      - name: Upload artifact to jfrog
        run: |
          cd ${{ env.UNIQUE_WORKSPACE }}/src/${INTERFACE_NAME}/${INTERFACE_NAME}.application/target
          curl -H "X-JFrog-Art-Api:${{ env.JFROG_TOKEN }}" -T ${INTERFACE_NAME}.application_1.0.0.ear "https://sanofi.jfrog.io/artifactory/maven-chc-maven-local/${INTERFACE_NAME}/Development/Dev-${BUILD_ID}/"
          curl -H "X-JFrog-Art-Api:${{ env.JFROG_TOKEN }}" -T ${{ env.UNIQUE_WORKSPACE }}/config/dev.properties "https://sanofi.jfrog.io/artifactory/maven-chc-maven-local/${INTERFACE_NAME}/Development/Dev-${BUILD_ID}/"

      #- uses: actions/checkout@v2
      #  with:
      #   fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - name: Stopping application
        run: |
          sudo su
          cd ${{ env.UNIQUE_WORKSPACE }}/chc_scripts/cicd-scripts/
          chmod -R 777 *
          response="$(
            curl -sS -w "\n%{http_code}" \
            "https://eu.account.cloud.tibco.com/idm/v1/oauth2/token" \
            --header "Content-Type: application/x-www-form-urlencoded" \
            --data "grant_type=client_credentials&scope=TCI&client_id=${{ secrets.DEV_TCI_CLIENT_ID }}&client_secret=${{ secrets.DEV_TCI_CLIENT_SECRET }}"
            )"
          json_response=$(echo $response | sed 's/ [0-9]\+$//')
          DEV_TCI_TOKEN=$(echo $json_response | jq -r '.access_token')
          export DEV_TCI_TOKEN=$DEV_TCI_TOKEN
          echo $DEV_TCI_TOKEN
          sudo su
          cd ${{ env.UNIQUE_WORKSPACE }}/chc_scripts/cicd-scripts/
          ./tibcli authorize --token $DEV_TCI_TOKEN
          ./tibcli app scaleto 0 ${INTERFACE_NAME}     
        continue-on-error: true
        
      - name: TCI Deployment
        run: |
          cd ${{ env.UNIQUE_WORKSPACE }}
          if [ -f "${{ env.UNIQUE_WORKSPACE }}/config/engine_dev.properties" ]; then
             engine_properties="${{ env.UNIQUE_WORKSPACE }}/config/engine_dev.properties"
          else
             engine_properties="${{ env.UNIQUE_WORKSPACE }}/shared_module/config/Development/engine_dev.properties"
          fi
          echo "Engine properties file is set to: $engine_properties"
          export engine_properties=$engine_properties
          if [ -f "${{ env.UNIQUE_WORKSPACE }}/config/engine-default.json" ]; then
             engine_json="${{ env.UNIQUE_WORKSPACE }}/config/engine-default.json"
          else
             engine_json="${{ env.UNIQUE_WORKSPACE }}/shared_module/config/Development/engine-default.json"
          fi
          echo "Engine json file is set to: $engine_json"
          export engine_json=$engine_json
          config_file="${{ env.UNIQUE_WORKSPACE }}/config/config_dev.json"
          APP_AGENT_KEY=$(jq -r '.hybrid_agent_key' "$config_file")
          export APP_AGENT_KEY=$APP_AGENT_KEY
          echo "hybrid agent key is ${APP_AGENT_KEY}"
          export DEPLOYMENT_SCRIPT=${{ env.UNIQUE_WORKSPACE }}/chc_scripts/cicd-scripts/TCI-Deployment/bin/tci
          export EAR_PATH=${{ env.UNIQUE_WORKSPACE }}/src/${INTERFACE_NAME}/${INTERFACE_NAME}.application/target
          bash ${DEPLOYMENT_SCRIPT}/chc-render-application-properties.sh ${{ env.UNIQUE_WORKSPACE }}/config/dev.properties /tmp/dev.json
          bash ${DEPLOYMENT_SCRIPT}/chc-app-manage2.sh deploy ${INTERFACE_NAME} /tmp/dev.json ${EAR_PATH}/${INTERFACE_NAME}.application_1.0.0.ear ${{ env.UNIQUE_WORKSPACE }}/config/manifest.json
          #python3.9 ${DEPLOYMENT_SCRIPT}/Update-engine-properties.py "${INTERFACE_NAME}" "${engine_properties}"
